@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1>About Me</h1>
    <p>I'm a software developer with a passion for building innovative solutions. I have experience working with a wide range of technologies including ...</p>
</div>
