@{
    ViewData["Title"] = "About";
}

<div>
    <h1>About Me</h1>
    <p class="content-box">
        Hi, I’m Logan Lambert—a sophomore at Minnesota State University, Mankato, where I’m majoring in Computer Science. I’m passionate about technology and finding ways to make life more efficient, whether through automating repetitive tasks or creating software that solves real-world problems.<br /><br />

        Beyond coding, I’m an active member of Phi Delta Theta fraternity, where I’ve taken on leadership roles as Secretary and New Member Educator, honing my organizational and communication skills. When I’m not diving into a new project, you’ll likely find me playing video games or out fishing—it’s my way of staying balanced and recharged.<br /><br />

        Feel free to connect with me—I’m always excited to collaborate and learn from others in the tech community!
    </p>

    <h2>Contact Me</h2>
    <div class="contact-wrapper">
        <div class="contact-info-wrapper content-box">
            <div class="contact-info">
                <img src="/images/email-icon.png" />
                <p><a href="mailto:logan.lambert721@gmail.com" target="_blank" rel="noopener noreferrer">logan.lambert721@gmail.com</a></p>
            </div>
            <div class="contact-info">
                <img src="/images/linkedin-icon.png"/>
                <p><a href="https://www.linkedin.com/in/logan-lambert-832a6a265/" target="_blank" rel="noopener noreferrer">Logan Lambert</a></p>
            </div>
            <div class="contact-info">
                <img src="/images/github-logo.png"/>
                <p><a href="https://github.com/llambert721" target="_blank" rel="noopener noreferrer">llambert721</a></p>
            </div>
        </div>

        <div class="content-box">
            <img src="/images/me.jpg"/>
        </div>
    </div>
</div>
