@{
    ViewData["Title"] = "Avc";
}

<div>
    <h1>Auto Video Creator</h1>
    <div class="content-box">
        <h4>
            <a href="https://github.com/llambert721/AutoVideoCreator" target="_blank" rel="noopener noreferrer">Github repository</a>
        </h4>
        <p>
            Auto Video Creatore (AVC) is a command line program made in Python.
            I created AVC to automate the process of downloading and editing common
            videos found on TikTok. The user can input a single link or list of links to Youtube
            videos that will be downloaded and edited together and trimmed to a specified length for TikTok.
            With AVC I have been able to grow my own TikTok pages. Many other people have found success aswell
            with the Github repository having 70+ stars.
        </p>
    </div>
    <div class="media-wrapper">
        <div class="media content-box">
            <img class="media" src="/images/avc.png"/>
        </div>
        <div class="media content-box">
            <h5>Video example</h5>
            <video class="media" width="100" height="100" autoplay muted controls loop>
                <source src="/images/avc-ex.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>
