@{
    ViewData["Title"] = "Freepointer";
}

<div>
    <h1>Chipotle Freepointer</h1>
    <div class="content-box">
        <h4>
            <a href="https://github.com/llambert721/ChipotleFreePointerBot" target="_blank" rel="noopener noreferrer">Github repository</a>
        </h4>
        <p>
            Chipotle Freepointer is a script made with Python and Selenium that I created
            to take adavantage of Chipotle's "NBA Freepointer" promotion. In this promotion
            Chipotle would post a Tweet with a free entree coupon code
            whenever a player would make a three point shot during the NBA Finals. This
            script logs into your Twitter account and grabs the coupon out of the Tweet using Regex.
            I also utilized Mac's iMessage API to redeem the coupon codes with my own phone number.

        </p>
    </div>
    <div class="media-wrapper">
        <div class="media content-box">
            <img class="media" src="/images/chipper-fp.jpg" />
        </div>
    </div>
</div>
