@{
    ViewData["Title"] = "Home";
}

<div class="content-wrapper">
    <header>
        <h1>Hi, I'm Logan Lambert.</h1>
    </header>

    <div class="top-content-wrapper">
        <img src="/images/me.jpg" />
        <p class="content-box">
            I'm a computer science student at Minnesota State University, Mankato
            graduting in 2027. Please explore my skills and projects!
            Also feel free to reach out to me <a href="@Url.Action("About", "Home")">here</a>.
        </p>
    </div>

    <div>
        <h2>Skills</h2>
        <div class="content-box skills-wrapper">
            <h3>Languages</h3>
            <ul>
                <li>Python</li>
                <li>C#</li>
                <li>Go</li>
                <li>HTML & CSS</li>
            </ul>
            <h3>Tools and Frameworks</h3>
            <ul>
                <li>Selenium</li>
                <li>ASP.NET MVC</li>
                <li>Unity</li>
            </ul>
        </div>
    </div>
    
    <div>
        <h2>Projects</h2>
        <div class="project-wrapper">
            <div class="content-box project">
                <h4>
                    <a href="@Url.Action("IsleOfNagol", "Home")">Isle of Nagol</a>
                </h4>
                <p>A horror game built with C# and Unity.</p>
                <img src="/images/isle-of-nagol.png" />
            </div>

            <div class="content-box project">
                <h4>
                    <a href="@Url.Action("Avc", "Home")">Auto Video Creator</a>
                </h4>
                <p>Project built in Python that downloads and edits videos for TikTok.</p>
                <img src="/images/avc.png" />
            </div>

            <div class="content-box project">
                <h4>
                    <a href="@Url.Action("Freepointer", "Home")">Chipotle Freepointer</a>
                </h4>
                <p>Python script powered by Selenium that snipes promotional codes from Chipotle's Twitter/X account.</p>
                <img src="/images/chipper-fp.jpg" />
            </div>
        </div>
    </div>
</div>
