@{
    ViewData["Title"] = "IsleOfNagol";
}

<div>
    <h1>Isle of Nagol</h1>
    <div class="content-box">
        <h4>
            <a href="https://github.com/llambert721/CIS-Horror-Game" target="_blank" rel="noopener noreferrer">Github repository</a>
        </h4>
        <p>
            Isle of Nagol is a horror game built with C# and Unity.
            In the game you control a person in first person POV. Your objective is to search
            an abandoned island for radio parts to call for rescue. There is a monster that
            actively hunts the player and protects a special radio tower building from the
            player. I made this game in a group of two other developers.
        </p>
    </div>
    <div class="media-wrapper">
        <div class="media content-box">
            <img class="media" src="/images/isle-of-nagol.png" />
        </div>
        <div class="media content-box">
            <h5>Game trailer</h5>
            <video class="media" width="100" height="100" autoplay muted controls loop>
                <source src="/images/isle-of-nagol-vid.mp4" type="video/mp4">
            </video>
        </div>
        <div class="media content-box">
            <img class="media" src="/images/monster-pic.png" />
        </div>
    </div>
</div>