html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #025bc7;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.content-box {
    background-color: #4798fc;
    border: 2px solid white;
    padding-left: 5px;
    padding-right: 5px;
}

/* Top content styles */

.top-content-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 4vw;
}

.top-content-wrapper img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

/* Media query for smaller screens (like tablets or mobile) */
@media (max-width: 1024px) {
    .top-content-wrapper img {
        width: 150px; /* Decrease the size for medium screens */
        height: 150px;
    }
}

@media (max-width: 768px) {
    .top-content-wrapper img {
        width: 120px; /* Further decrease for smaller screens */
        height: 120px;
    }
}

@media (max-width: 480px) {
    .top-content-wrapper img {
        width: 100px; /* Smaller size for mobile screens */
        height: 100px;
    }
}

.top-content-wrapper p {
     width: 50%;
     height: 100%;
     word-wrap: break-word;
     margin-top: 30px;
     margin-bottom: 0;
     color: black;
}

/* Skills styles*/

.skills-wrapper {
    width: max-content;
}

/* Project styles*/

.project-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.project.content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    padding-bottom: 5px;
    margin: 5px;
}

.project img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: auto;
}