html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #106a73;
    color: #f7fadc;
}

a {
    text-decoration: underline;
    color: #e3d346;
    transition: color 0.3s ease;
}

a:hover {
    color: #6f6fde; 
}

.navbar {
    background-color: #04565E; /* Set navbar background color */
    color: #f7fadc; /* Default font color for navbar */
    border-bottom: 2px solid #013F45;
    padding: 0; /* Remove unnecessary padding */
    margin: 0; /* Remove unnecessary margin */
    width: 100%; /* Ensure it doesn't exceed the screen width */
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.nav-link {
    color: #f7fadc;
}

.navbar-brand {
    color: #f7fadc;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23f7fadc' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.content-box {
    background-color: #04565E;
    border: 2px solid #013F45;
    padding-left: 5px;
    padding-right: 5px;
}

/* Top content styles */

.top-content-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 4vw;
}

.top-content-wrapper img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

/* Media query for smaller screens (like tablets or mobile) */
@media (max-width: 1024px) {
    .top-content-wrapper img {
        width: 150px; /* Decrease the size for medium screens */
        height: 150px;
    }
}

@media (max-width: 768px) {
    .top-content-wrapper img {
        width: 120px; /* Further decrease for smaller screens */
        height: 120px;
    }
}

@media (max-width: 480px) {
    .top-content-wrapper img {
        width: 100px; /* Smaller size for mobile screens */
        height: 100px;
    }
}

.top-content-wrapper p {
     width: 50%;
     height: 100%;
     word-wrap: break-word;
     margin-top: 30px;
     margin-bottom: 0;
}

/* Skills styles*/

.skills-wrapper {
    width: max-content;
}

/* Index project styles*/

.project-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.project.content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    padding-bottom: 5px;
    margin: 5px;
}

@media (max-width: 500px) {
    .project.content-box {
        width: 100vw;
    }
}

.project img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
}

/* Project page styles*/

.media-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 8px;
    margin-top: 8px;
}

.media {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
}

.media.content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    padding: 5px;
    margin: 5px;
}

@media (max-width: 500px) {
    .media.content-box {
        width: 100vw;
    }
}